<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        e-mail: <a class="u-email" href="mailto:megus.sugem@gmail.com">megus.sugem@gmail.com</a>
      </div>
      <div class="footer-col">
        <a href="https://twitter.com/wise_hedgehog"><svg viewbox="0 0 16 16" class="social-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>
        <a href="https://www.facebook.com/wisehedgehog.studio"><svg viewbox="0 0 16 16" class="social-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg></a>
        <a href="https://www.youtube.com/channel/UC20mgkcB0eMs3ThiT9G1RRg"><svg viewbox="0 0 16 16" class="social-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a>
      </div>
    </div>
  </div>

</footer>
