/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 2;
  background-color: #444;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-weight: 100;
  line-height: 60px;
  margin-bottom: 0;
  float: left;
  color: $grey-color-light;
  @include media-query($on-palm) {
    @include relative-font-size(0.875);
  }
}

.site-logo {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0px 8px 0px 0px;
  vertical-align: middle;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.5;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $grey-color-light;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 12px;
    right: $spacing-unit / 2;
    background-color: $grey-color-dark;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-light;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: #fff;
}

.footer-col-wrapper {
  @include relative-font-size(0.9);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-col {
  margin-bottom: $spacing-unit;
  padding-left: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/**
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.rss-subscribe {
  text-align: center;
  font-size: $small-font-size;
  color: $grey-color;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-cover {
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  min-height: 70vh;
}

@include media-query($on-palm) {
  .post-cover {
    min-height: 50vh;
  }
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, 70%, rgba(0, 0, 0, 0.9) 100%);
  position: absolute;
}

.post-cover-title {
  @include relative-font-size(2.5);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-palm) {
    @include relative-font-size(2);
  }
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0%;
  color: #def;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
      @include relative-font-size(1.3);
    }
  }

  h3 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }

  h4 {
    @include relative-font-size(1.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.08);
    }
  }

  img {
    @include media-query($on-palm) {
      max-width: -webkit-calc(100% + #{$spacing-unit});
      max-width:         calc(100% + #{$spacing-unit});
      margin-left: -($spacing-unit / 2);
    }
  }
}

.frame {
  @include media-query($on-palm) {
    width: -webkit-calc(100% + #{$spacing-unit});
    width:         calc(100% + #{$spacing-unit});
    margin-left: -($spacing-unit / 2);
  }
}

.youtube {
  width: 100%;
  height: 500px;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
  margin-bottom: $spacing-unit;
  @include media-query($on-palm) {
    width: -webkit-calc(100% + #{$spacing-unit});
    width:         calc(100% + #{$spacing-unit});
    margin-left: -($spacing-unit / 2);
    height: 250px;
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.footnote {
  @include relative-font-size(0.75);
  margin-top: 0;
  margin-bottom: $spacing-unit;
  text-align: center;
  color: $grey-color;

  a {
    color: $grey-color;
    text-decoration: underline;
  }
}

/**
 * Home page
 */
.home {
  text-shadow: 0px 2px 4px rgba(0,0,0,1);
  color: $grey-color-light;
  h1 {
    text-align: center;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    margin: 0px;
    @include relative-font-size(3.75);
    @include media-query($on-palm) {
      @include relative-font-size(2);
    }
  }

  h2 {
    text-align: center;
    @include relative-font-size(2);
    @include media-query($on-palm) {
      @include relative-font-size(1.5);
    }
  }

  p {
    @include relative-font-size(1.25);
    text-align: center;
    text-shadow: 0px 2px 16px rgba(0,0,0,1),
      0px 1px 0px rgba(0,0,0,1),
      0px -1px 0px rgba(0,0,0,1),
      1px 0px 0px rgba(0,0,0,1),
      -1px 0px 0px rgba(0,0,0,1),
      1px 1px 0px rgba(0,0,0,1),
      -1px 1px 0px rgba(0,0,0,1),
      1px -1px 0px rgba(0,0,0,1),
      -1px -1px 0px rgba(0,0,0,1);
  }
}

.home-cover {
  background-image: url("/assets/wh-banner.png");
  background-color: #456554;
  width: 100vw;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
  height: 40vw;
  @include media-query($on-palm) {
    height: 100vw;
    background-size: cover;
  }
}

.home-content {
  margin-left: auto;
  margin-right: auto;
  width: $content-width;
  @include media-query($on-palm) {
    width: 100%;
  }
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.portfolio-project {
  width: -webkit-calc(50% - (#{$spacing-unit}));
  width:         calc(50% - (#{$spacing-unit}));
  margin-bottom: $spacing-unit;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
}

.portfolio-project-cover {
  border-radius: 15px;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-color: $grey-color;
  background-size: cover;
  position: relative;
}

.portfolio-project-overlay {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, 70%, rgba(0, 0, 0, 0.7) 100%);
  transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  position: absolute;
}

.portfolio-project-overlay:hover {
  opacity: 1;
}

.portfolio-project-title {
  @include relative-font-size(1.5);
  line-height: 1;

  @include media-query($on-palm) {
    @include relative-font-size(1.25);
  }
  position: absolute;
  text-align: left;
  margin-left: $spacing-unit / 2;
  margin-right: $spacing-unit / 2;
  width: 90%;
  bottom: 0%;
  color: #def;

  h3 {
    @include relative-font-size(1.5);
    line-height: 1;
  
    @include media-query($on-palm) {
      @include relative-font-size(1.25);
    }
  }

  p {
    text-align: left;
    @include relative-font-size(0.875);
  }
}

@include media-query($on-palm) {
  .portfolio-project {
    width: 100%;
  }
}


/**
 * Project page
 */
.project-cover {
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
  height: 40vw;
  @include media-query($on-palm) {
    height: 100vw;
    background-size: cover;
  }
}

.project-header {
  padding-top: $spacing-unit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.project-icon {
  width: 30%;
  margin-bottom: $spacing-unit;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
  border-radius: 15px;

  @include media-query($on-palm) {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.project-description {
  width: -webkit-calc(70% - (#{$spacing-unit}));
  width:         calc(70% - (#{$spacing-unit}));
  margin-bottom: $spacing-unit;
  background-color: rgba(0,0,0,0.7);
  color: $grey-color-light;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
  @include media-query($on-palm) {
    width: 100%;
  }

  h1 {
    margin-top: 0px;
    @include relative-font-size(2);
  }
}

.project-date {
  @include relative-font-size(0.875);
  color: $grey-color;
}

.project-content {
  background-color: rgba(255,255,255,0.5);
}